@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;  
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.container-fluid {
    height: 100vh;
    padding: 0;
}

.left-section {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1000;
}


.logo img{
    height: 5vh;
}

.logo-text {
    color: #4285f4;
    font-weight: 600;
    font-size: 2rem;
}

.login-form {   
    width: 100%;
    max-width: 480px;
    padding: 20px;
}
    
.login-form h2 {
    font-weight: semibold;
    margin: 0px !important;
    font-size: 2.2rem;
}

.login-form p {
    color: #6c757d;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

.google-btn {
    width: 100%;
    height: 4.8vh;
    background-color: #f5f5f5;
    border: 1px solid #c4c4c4;
    color: #3c4043;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s;
}

.google-btn img{
    width: 24px;
}

.google-btn:hover {
    background-color: #cccccc;
}

.divider {
    text-align: center;
    margin: 30px 0;
    color: #6c757d;
    font-size: 1rem;
}

.form-control {
    padding: 10px;
    height: 4.8vh;
    border-radius: 6px;
    border: 1px solid #c4c4c4 !important; 
    background-color: #f5f5f5;
    margin-bottom: 20px;
    color: #bdbdbd;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
}   

.form-label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px !important;
    color: #3b3b3b;
}

.wrapper-eye{
    position: relative;
}

.eye{  
    position: absolute;
    top: 55%;
    right: 15px;
    width: auto;
    height: 18px;
}

.forgot-password {
    text-align: right;
}

.forgot-password a {
    color: #4285f4;
    text-decoration: none;
    font-size: 1rem;
}

.btn-login {
    width: 100%;
    background-color: #292c30;
    color: white;
    padding: 18px;
    margin: 5px 0;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease all;
}

.btn-login:hover {
    background-color: #000;
}


.register-link {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 60px;
}

.register-link a {
    color: #4285f4;
    text-decoration: none;
}
.right-section {
    background: linear-gradient(135deg, #4285F4 0%, #264D8E 100%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
    padding: 0 !important;
}

.pet-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

/* modal recuperar senha */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
  }
  
  .modal-recovery {
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
    width: 80%;
    max-width: 550px;
    display: none;
  }

  .modal-recovery p{
    text-align: center;
    margin-top: 12px;
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  } 

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    height: 15px;
    cursor: pointer;  
  } 
  

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 950px) {
    .right-section{
        display: none;
    }

    .logo{
        position: absolute; 
        top: 20px;
        left: 20px;
    }
} 