@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;  
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.container-fluid {
    height: 100vh;
    padding: 0;
}

.left-section {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin: 30px 0px
}


.logo-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.logo-text {
    color: #4285f4;
    font-weight: 600;
    font-size: 2rem;
}

.login-form {
    width: 100%;
    max-width: 480px;
    padding: 20px;
}
    
.login-form h2 {
    font-weight: semibold;
    margin: 0px !important;
    font-size: 2.2rem;
}

.login-form p {
    color: #6c757d;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

.google-btn {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #c4c4c4;
    color: #3c4043;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s;
}

.google-btn img{
    width: 24px;
}

.google-btn:hover {
    background-color: #e4e4e4;

}

.divider {
    text-align: center;
    margin: 30px 0;
    color: #6c757d;
    font-size: 1rem;
}

.form-control {
    padding: 10px;
    height: 4.5vh;
    border-radius: 6px;
    border: 1px solid #c4c4c4 !important; 
    background-color: #f5f5f5;
    margin-bottom: 20px;
    color: #979797;
    font-size: 1rem !important;
}

.form-label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 6px;
    color: #6E6E6E;
}

.forgot-password {
    text-align: right;
    margin-bottom: 12px;
}

.forgot-password a {
    color: #4285f4;
    text-decoration: none;
    font-size: 1rem;
}

.btn-login {

}

.btn-login:hover {
    background-color: #000;
    transform: scale(1.01);
}

.register-link {
    text-align: center;
    margin-top: 12px;
    font-size: 1rem;
    padding-bottom: 60px;
}

.register-link a {
    color: #4285f4;
    text-decoration: none;
}
.right-section {
    background: linear-gradient(135deg, #4285F4 0%, #264D8E 100%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.quote-card {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    min-height: 75vh;  
    width: 60%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.37);
    position: relative;
}

.quote-text {
    color: #6c757d;
    font-size: 2.2rem;
    line-height: 1.6;
    margin-bottom: 370px;
}

.pet-image {
    position: absolute;
    bottom: 0;
    right: 0.1px;
    width: 250px;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}