@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  overflow: hidden; 
}

.nav-bar {
  box-shadow: 0px 6px 12px rgba(189, 189, 189, 0.527);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.logo {
  height: 40px;
  margin: 15px;
}

.ponto {
  height: 30px;
  margin: 15px;
}

.nav-texto {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 5px;
  text-decoration: none !important;
  color: #010a1b;
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav-texto:hover {
  background-color: #ffffff;
  color: #0f5848;
}
.duv img {
  height: 25px;
  margin-right: 8px;
}
.duvida {
  background-color: #010a1b;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.duvida:hover {
  background-color: #08204b;
}

/* Google maps */
#map {
  width: 100%;
  height: 95vh;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.144);
  z-index: 998;
  display: none;
}

.modal-recovery {
  max-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
  width: 70%;
  max-width: 500px;
  display: none;
}

.modal-content h3{
    margin: 0;
}

.add-geocercas{
  margin: 30px 0;
  height: 5.4vh;
  width: 90%;
  background-color: #cbdcff;
  color: rgb(63, 114, 255);
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.add-geocercas:hover {
  cursor: pointer;
}

.input-geofences {
  display: flex;
  justify-content: center;

}

.input-inside {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input{
    height: 5.4vh;
    border-radius: 15px !important;
    background-color: #ffffff;
    margin-bottom: 10px;
    color: #bdbdbd;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    width: auto;
}

input:focus{
  outline: 2px solid #5f1bff;
  border: 1px solid #5f1bff !important; 

}

label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1px;
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: auto;
  height: 15px;
  cursor: pointer;
}

h4{
    margin-bottom: 30px !important;
}

.geofence-list-info{
    background-color: #dbdbdb;
    border-radius: 15px;
    height: 5.4vh;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.geofence-list-info p{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.geofence-items{
  margin-top: 20px;
  gap: 15px;
  display: flex;
  justify-content: center;
}

.geofence-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdbdb;
  border-radius: 15px;
  padding: 14px 0;
  margin-bottom: 14px;
  width: 100%;
}

.geofence-items-notes {
  display: flex;
  flex-direction: row;
  gap: 28px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

  .alert-box {
            position: fixed;
            top: 80px;
            right: 20px;
            background: #dc3545;
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.3);
            z-index: 1100;
            display: none;
            animation: slideInRight 0.5s;
            max-width: 300px;
        }

        .alert-box.show {
            display: block;
        }

        .alert-box.success {
            background: #28a745;
        }


    .sidebar {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow: hidden;
        transition: width 0.5s;
        box-sizing: border-box;
        z-index: 999;
    }


    .botao-voltar {
        display: flex;
        padding: 30px 20px;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        gap: 10px;
    }

    .botao-voltar img{
        height: 18px;
        width: auto;
    }

     .botao-voltar span {
        font-size: 20px;
        font-weight: 600;
        color: #010a1b;
    }

    .sidebar h2 {
        padding: 30px 0px 0px 20px;
        font-size: 2.5rem;
        background: linear-gradient(
          to right,
            #021230 30%,
            #d0cfff8a 60%
        );
        background-clip: text;  
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

.geogence-p{
  max-width: 80%;
  padding: 0 20px;
}

.botao-div{
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
