@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;  
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
    background-color: #ececec !important;
    color: #ffffff !important;
}

.container-fluid{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    height: 70vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #4285F4 0%, #3867b8 100%) !important;
    border-radius: 10px;
    padding: 40px !important;
}

.form img{
    padding-bottom: 80px;
    width: 80px;        /* Define a largura desejada */
    height: auto; 
}

.form p{
    max-width: 70%;
    
}

.form input{
    margin: 40px 0;
    padding: 14px;
    height: 4.5vh;
    border-radius: 6px;
    border: none; 
    background-color: #f5f5f5;
    margin-bottom: 20px;
    color: #979797;
    font-size: 1rem !important;
    width: 400px;
}

.form button{
    width: 100%;
    margin: 20px 0;
    background-color: #212529;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease all;
    font-size: 1.1rem;
}