@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 0.4s ease-in-out;
}

.container-fluid {
    height: 100vh;
    padding: 0;
}

.left-section {
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }
  
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
  }
  
  .logo img {
    height: 5vh;
  }

.logo-text {
    color: #4285f4;
    font-weight: 600;
    font-size: 2rem;
}

.login-form {
    width: 100%;
    max-width: 480px;
    padding: 20px;
}
    
.login-form h2 {
    font-weight: semibold;
    margin: 0px !important;
    font-size: 2.2rem;
}

.login-form p {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 35px;
}

.google-btn {
    width: 100%;
    height: 4.8vh;
    background-color: #f5f5f5;
    border: 1px solid #c4c4c4;
    color: #3c4043;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s;
}

.google-btn img{
    width: 24px;
}

.google-btn:hover {
    background-color: #cccccc;

}

.divider {
    text-align: center;
    margin: 30px 0;
    color: #6c757d;
    font-size: 1rem;
}

.form-control {
    padding: 10px;
    height: 4.8vh;
    font-size: 10px;
    border-radius: 6px;
    border: 1px solid #c4c4c4 !important; 
    background-color: #f5f5f5;
    margin-bottom: 20px;
    color: #bdbdbd;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
}

.form-label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2px !important;
    color: #3b3b3b;
}

.wrapper-eye{
    position: relative;
}

.eye{  
    position: absolute;
    top: 56%;
    right: 15px;
    width: auto;
    height: 18px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 12px;
}

.forgot-password a {
    color: #4285f4;
    text-decoration: none;
    font-size: 1rem;
}

.btn-login {
    width: 100%;
    background-color: #292c30;
    color: white;
    padding: 18px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease all;
}

.btn-login:hover {
    background-color: #000;
}

.register-link {
    text-align: center;
    margin-top: 12px;
    font-size: 1rem;
}

.register-link a {
    color: #4285f4;
    text-decoration: none;
}

.right-section {
    background: linear-gradient(190deg, #F3A44A 0%, #844306 100%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
    padding: 0 !important;
}

.pet-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 950px) {
    .right-section{
        display: none;
    }

    .logo{
        position: absolute; 
        top: 20px;
        left: 20px;
    }

    .logo img{
      height: 4vh;
    }
} 